.header {
  margin-bottom: 5em;
  margin-top: 5em;  
}

.header button {
  position:absolute;
  top: 0;
  right: 0;
  margin-right: 10em;
  margin-top: 5em;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSbPheOGH8n0t1jgG-vVtk6aYT9ZxfJJT47DZ1I1h9bBLm9Bk0qVJJkQo2eIuQysR3E8w&usqp=CAU);
  background-size: 100%;
  width: 3em;
  height: 3em;
}

h1{
  font-size: 450%;
  font-family: 'Allerta Stencil', sans-serif;
}

body {
  background-image: url(https://st4.depositphotos.com/8005734/23647/i/1600/depositphotos_236477300-stock-photo-traditional-italian-pizza-vegetables-ingredients.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box button {
  margin-top: 2em;
  margin-bottom: 2em;
}

.em {
  display: none;
  font-size: 75%;
  font-style: italic;
  font-style: bold;
}

label {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.box {
  background-color: rgba(180, 180, 180, 0.4);
  width: 18em;
  padding: 3em;
  margin-left: 5em;
  margin-bottom: 5em;
}

.page1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 110%;
}

.cart {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 110%;
  display: none;
  background-color: rgba(180, 180, 180, 0.4);
  width: 30em;
  padding: 3em;
  margin-left: 5em;
  margin-bottom: 5em;
}

h3 {
  font-weight: bold;
}





